<app-home></app-home>

<div class="swiper-container" id="top">
    <div class="swiper-wrapper">

      <!-- <div class="swiper-slide"> -->
        <section class="login">
            <div class="login_box">
                <div class="left">
                    <div class="contact">
                        <form (ngSubmit)="signup()">
                            <h3>Crear Cuenta</h3>
                            <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre">
                            <input type="text" name="email" [(ngModel)]="email" placeholder="Correo">
                            <div class="row">
                                <div class="col-md-8">
                                  <input type="text" name="estado" [(ngModel)]="estado" placeholder="Estado">

                                </div>
                                <div class="col-md-4">
                                  <input type="text" name="codigoPostal" [(ngModel)]="codigoPostal" placeholder="CP">

                                </div>
                            </div>

                            <input type="text" name="ciudad" [(ngModel)]="ciudad" placeholder="Ciudad">
                            <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña">
                            <button type="submit" class="submit">Registrarse</button>
                        </form>
                    </div>

                </div>

            </div>
        </section>
      <!-- </div> -->
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2022 IT SOFTECH Co., Ltd. All Rights Reserved. 
          
        </div>
      </div>
    </div>
  </footer>
