<app-home></app-home>

<div class="swiper-container" id="top">
    <div class="swiper-wrapper">

      <!-- <div class="swiper-slide"> -->
        <section class="body">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="text-center">LO QUE HACEMOS</h3>
                            <hr class="black-line">
                            <div class="row mt-4">
                                <div class="col-12">
                                    <p class="text-justify">
                                        Somos una empresa dedicada a la fabricación, venta y colocación de amoblamientos de cocina, interiores de placard, vestidores, frentes integrales, vanitorys y muebles de oficina. Debido a nuestros altos estándares de calidad trabajamos para distintos clientes; particulares, estudios, constructoras y empresas. Además, para proporcionarle nuestra sólida experiencia y vastos conocimientos, ofrecemos entrevistas personalizadas sin cargo alguno. ¡No dude en contactarnos!
                                    </p>
                                </div>
                            </div>
                            <hr class="black-line">
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-justify">
                                        En Diseño en Carpintería nos preocupamos por el confort, la estética y la belleza de su lugar. Por este motivo, nuestra dedicación se refleja desde la atención personalizada hasta en la terminación cuidada y profesional de todos nuestros trabajos.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <img src="../../../assets/images/imgW.jpg" class="rounded float-right" alt="...">

                        </div>

                    </div>
                   
            </div>
            </section>


              
        </section>
        

      <!-- </div> -->
    </div>
  </div>